* { margin: 0; }

body {
  margin: 0;
  padding: 0;
}

#header {
  width: 100vw;
  height: 10vh;
  background-color: #222;
  color: #efefef;
  margin-top: 0 !important;
  margin-bottom: 5px;
}

#header h1 {
  font-family: 'Brush Script MT', cursive, Arial, sans-serif;
  line-height: 10vh;
  padding-left: 30px;
  white-space: nowrap;
}

#header #generate {
  position: absolute;
  right: 10px;
  top: 2.5vh;
  height: 5vh;
  border-radius: 5px;
  border-color: #efefef;
  border-style: 1px solid;
  text-transform: uppercase;
  cursor: pointer;
}

#charactersheet {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 475px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -5px 5px 15px #777;
  background-size: cover;
  filter: blur(0.2px);
}

.img0 {
  background-image: url(./img/0.jpg);
}
.img1 {
  background-image: url(./img/1.jpg);
}
.img2 {
  background-image: url(./img/2.jpg);
}
.img3 {
  background-image: url(./img/3.jpg);
}
.img4 {
  background-image: url(./img/4.jpg);
}

#identity #name {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #efefef;
  text-shadow: 1px 1px 10px #111;
  width: calc(100% + 20px);
  background: rgba(0,50,50,.4);
  box-shadow: 0px 0px 40px rgba(0,50,40,.3) inset;
  padding: 5px 10px;
  margin-left: -20px;
}

#identity {
  text-align: center;
}

#identity ul {
  padding-top: 10px;
  list-style: none;
  padding-left: 10px;
}

#identity #age,
#identity #profession,
#identity #weapon {
  font-size: 1em;
  margin-bottom: 5px;
  color: #efefef;
  text-shadow: 1px 1px 10px #111;
}

#life {
  border: 1px solid #111;
  border-radius: 15px;
  padding: 5px 10px;
  text-align: center;
  box-shadow: 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
}

#life #story,
#life #appearance {
  font-style: italic;
  font-size: 1.05em;
  color: #111;
}

#life #story {
  margin-bottom: 10px;
}

#credits {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 5px;
  font-size: .8em;
  color: #666;
}

#credits a {
  color: inherit;
  font-style: italic;
  text-decoration: none;
}

@media (max-width: 768px) {
  #header h1 {
    font-size: 22px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #header h1 {
    font-size: 30px;
  }
}

@media (min-width: 1025px) {
  #header h1 {
    font-size: 46px;
  }
}